version: "{build}"

environment:
  nodejs_version: "8"

matrix:
  fast_finish: true

install:
  - choco install firefox
  - choco install chromium
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install

test_script:
  - set CHROME_BIN="C:\Program Files (x86)\Chromium\Application\chrome.exe"
  - npm run appveyor

build: off
