name: Code Style

on: [push, pull_request]

jobs:

  codestyle:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - run: npm ci
    - run: npm run code-style
