name: ECMA-262 Test Suite

on: [push, pull_request]

jobs:
  test262:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - run: npm ci
    - run: npm test
    - run: npm run test-262
